@import "tailwindcss";

@theme {
  --color-primary: #f7b993;
  --color-primary-light: #ffa55c;
  --color-primary-dark: #d69e7d;
  --color-surface: #1a1a1a;
  --color-surface-highlight: #2a2a2a;
  --color-accent: #FFF4E9;

  --animate-float: float 6s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}